.style-grid .entry-thumbnail img {
	width: 100%;
	margin-left: 0px;
}
#main {
	padding-top: 5%;
	padding-bottom: 0px;
}

.page-header {
	margin-bottom: 30px;
	border: none;
}

.style-grid:hover .overlay {
	visibility: hidden;
}